<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home-3 || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="/shoppage/img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/shoppage/css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="/shoppage/css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="/shoppage/css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/shoppage/css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/shoppage/css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/shoppage/css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/shoppage/css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/shoppage/css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/shoppage/css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/shoppage/css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/shoppage/css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/shoppage/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/shoppage/css/responsive.css">

    <!-- Modernizer js -->
    <script src="/shoppage/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="app">
        <%-content-%>
    </div>
    <script src="/shoppage.js"></script>

    <!-- jquery 3.2.1 -->
    <script src="/shoppage/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/shoppage/js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/shoppage/js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/shoppage/js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/shoppage/js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/shoppage/js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/shoppage/js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/shoppage/js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/shoppage/js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/shoppage/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/shoppage/js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/shoppage/js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/shoppage/js/main.js"></script>
</body>

</html>